html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --intro-background: #0d314b;
  --nav-color: #fadfa7;
  --gradient1: rgba(255, 23, 228, 1);
  --gradient2: rgba(134, 251, 251, 1);
  --anotherBackground: #2a5cad;
  --intro-h1: #86fbfb;
  --other: #ad8d4b;
  --about-background: #4b0d49;
  --about-color: #f7f8fa;
  --image-border: #86fbfb;
  --resources-a-background: #fadfa7;
  --resources-a-color: #0d314b;
  --resources-hover-color: #ad8d4b;
  --resources-hover-background: #f7f8fa;
  --projects-background: #171321;
  --projects-color: #f7f8fa;
  --contact-background: #4b0d49;
  --contact-color: #fadfa7;
  --email-me-backgr: #e310cb;
  --footer-background: #0d314b;
  --footer-color: #fadfa7;
  --footer-hover: #f7f8fa;
  --me-background: #171321;
  --me-color: #f7f8fa;
}
.gradient {
  background: linear-gradient(
    90deg,
    var(--gradient1) 0%,
    var(--gradient2) 100%
  );
  height: 2px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
nav,
section,
nav ul,
nav ul li,
select {
  margin: 0;
  padding: 0;
}
#navbar,
#intro,
#resources {
  background-color: var(--intro-background);
  color: var(--nav-color);
}
nav ul li a {
  color: var(--nav-color);
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}
nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav [class*="fa-"] {
  color: var(--nav-color);
  background-color: var(--nav-background);
}
nav a:hover {
  background-color: var(--nav-color);
  color: var(--intro-background);
}
nav [class*="fa-"]:hover {
  background-color: var(--nav-color);
  color: var(--intro-background);
}
#intro {
  padding: 8rem 4rem 4rem 10rem;
}
#intro h1,
#intro h2 {
  font-size: 4rem;
  margin-bottom: 1.1rem;
  margin-top: 0.5rem;
}
#intro h1 {
  color: var(--intro-h1);
}
#intro h2,
#intro p {
  color: var(--nav-color);
}
#intro p {
  line-height: 1.5;
  font-size: 1.25rem;
}
#about {
  background-color: var(--about-background);
  color: var(--about-color);
  padding: 2rem 2rem 2rem 4rem;
}
#about h3 {
  font-size: 2.5rem;
  margin-bottom: 1.1rem;
  margin-top: 4rem;
}
.portrait {
  display: flex;
  margin: 1rem 0 2rem 2rem;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.description {
  flex-basis: 70%;
  font-size: 1.5rem;
  line-height: 3rem;
}
#selfie {
  align-self: flex-end;
  margin: 0 auto 0 auto;
  border-radius: 15%;
  border-left: 1px solid var(--image-border);
  border-top: 1px solid var(--image-border);
  border-radius: 25px;
  padding: 1rem;
}
#resources {
  padding: 2rem 2rem 2rem 2rem;
}
#resources h3 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
  text-align: center;
}
#resources ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 0;
  row-gap: 50px;
  margin-bottom: 3rem;
}
#resources li {
  list-style-type: none;
  text-align: center;
  display: inline;
}
#resources li a {
  color: var(--nav-color);
  text-decoration: none;
  display: block;
  color: var(--resources-a-color);
  background-color: var(--resources-a-background);
  border-radius: 25%;
  font-size: 1.3rem;
  padding: 2rem 0;
  font-weight: bold;
}
#resources li a:hover {
  background-color: var(--resources-hover-background);
  color: var(--resources-hover-color);
}
.position1-2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.position1-4 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.position1-6 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.position2-3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.position2-5 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
#projects {
  background-color: var(--projects-background);
  padding: 2.5rem 2rem 2rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#projects h3 {
  font-size: 3rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  color: var(--projects-color);
  flex-basis: 100%;
  text-align: center;
}
.project-button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  cursor: pointer;
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-right: 2rem;
  flex-basis: 30%;
}

.project-button:active,
.project-button:hover {
  outline: 0;
}

.project-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.project-button:hover span,
.project-button:focus span {
  background: none;
}

#contact-me {
  padding: 4rem 4rem 2rem 4rem;
  background-color: var(--contact-background);
  color: var(--contact-color);
  text-align: center;
}
#contact-me h3 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
#contact-me p {
  font-size: 1.5rem;
  line-height: 3.5rem;
}
#contact-me p:last-child {
  margin: 2.5rem 0 4rem 0;
}
.email-me {
  background-color: var(--email-me-backgr);
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: var(--contact-color);
}
.email-me:hover {
  background-color: var(--contact-color);
  color: var(--email-me-backgr);
  transition: all 0.2s ease-in;
}
#certificates {
  padding: 4rem;
  background-color: var(--me-background);
  color: var(--me-color);
  text-align: center;
}
#certificates h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}
#certificates ul li {
  list-style-type: none;
  font-size: 1.25rem;
  line-height: 50px;
}
footer {
  padding: 1.5rem;
  text-align: center;
  color: var(--footer-color);
  background-color: var(--footer-background);
}
footer h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}
footer ul {
  justify-content: center;
  margin: 0 auto 1.5rem auto;
  list-style-type: none;
  display: flex;
  font-size: 3rem;
  gap: 5%;
}
footer ul li a {
  color: var(--footer-color);
}
footer ul li a:hover {
  color: var(--footer-hover);
}
footer p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
footer p:last-child {
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  body {
    text-align: center;
  }
  #navbar nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 0;
    justify-content: space-around;
  }
  #resume {
    display: none;
  }
  #intro {
    margin: 0;
    padding: 8rem 2rem 4rem 2rem;
  }
  #intro h2 {
    font-size: 3rem;
  }
  h1,
  h2,
  h3,
  h4,
  ul,
  li,
  p,
  section,
  div,
  #about,
  .portrait,
  img {
    margin: 0 auto;
  }
  .project-and-description {
    display: flex;
    flex-flow: column;
  }
  .project-button {
    align-self: center;
    margin: 0rem auto 1.5rem auto;
  }
  .project-and-description p {
    width: 100%;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 4rem;
  }
  #resources ul {
    display: flex;
    flex-flow: column nowrap;
  }
  #resources ul li {
    min-width: 200px;
  }
  .portrait {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #selfie {
    order: 1;
  }
  .description {
    order: 2;
  }
  .project-viewer {
    width: 500px;
    height: 100%;
    background-color: white;
    margin: 0;
  }
  footer ul {
    max-width: 300px;
  }
}
@media (min-width: 1500px) {
  body {
    border: 3px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--intro-background);
  }
  body section,
  body footer,
  body #navbar {
    width: 1500px;
    max-width: 1500px;
    border-left: 5px solid var(--gradient1);
    border-right: 5px solid var(--gradient2);
    margin: 0 auto;
  }
  #navbar,
  #navbar nav,
  #navbar ul {
    margin: 0 auto;
    position: relative;
  }
  .gradient {
    background: linear-gradient(
      90deg,
      var(--gradient1) 0%,
      var(--gradient2) 100%
    );
    height: 5px;
    width: 1500px;
    max-width: 1500px;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: blue;
  font-size: 50px;
  cursor: pointer;
}
.row {
  display: flex;
  flex-flow: row nowrap;
}
.column img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  opacity: 0.8;
  cursor: pointer;
}
.column img:hover {
  opacity: 1;
}
@media (max-width: 700px) {
  #about {
    padding: 2rem;
  }
}
