body {
  margin: 0;
  padding: 0;
}
.swiper-slide {
  text-align: center;
  display: block;
  width: 100%;
  max-height: 100vh;
}
.swiper {
  max-width: 90vw;
  max-height: 100vh;
}
img {
  max-height: 100vh;
}
